<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @autor.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @autor.surname %>
</p>

<p>
  <strong>Year:</strong>
  <%= @autor.year %>
</p>

<%= link_to 'Edit', edit_autor_path(@autor) %> |
<%= link_to 'Back', autors_path %>
